@media (max-width: 575px) {
    .promo {
        &__heading {
            font-size: 16px;
        }
        &__logo {
            img {
                width: 80px;
                height: 80px;
            }
        }
    }
    .basis {
        &__header {
            letter-spacing: 3px;
            font-size: 31px;
        }
        &__subheader {
            font-size: 31px;
        }
    }
}

@media (max-width: 425px) {
    .basis {
        margin: 10px 5px;
        &__header {
            letter-spacing: 2px;
        }
    }
}

@media (max-width: 375px) {
    .promo {
        &__heading {
            font-size: 11px;
        }
        &__logo {
            img {
                width: 70px;
                height: 70px;
            }
        }
    }
    .basis {
        &__block {
            img {
                width: 80%;
            }
        }
        &__header {
            font-size: 24px;
            top: 13px;
        }
        &__subheader {
            font-size: 24px;
        }
    }
}