@media (min-width: 375px) {
    .promo {
        &__heading {
            font-size: 15px;
        }
        &__logo {
            img {
                width: 80px;
                height: 80px;
            }
        }
    }
    .basis {
        &__smear {
            width: 90%;
        }
        &__header {
            font-size: 30px;
            top: 10px;
            &_more {
                left: 28%;
            }
        }
        &__subheader {
            font-size: 28px;
        }
        &__lists {
            font-size: 20px;
        }
    }
}

@media (min-width: 460px) {
    .promo {
        &__heading {
            font-size: 18px;
        }
        &__logo {
            img {
                width: 90px;
                height: 90px;
            }
        }
    }
    .basis {
        &__smear {
            width: 95%;
        }
        &__header {
            font-size: 40px;
            top: 12px;
            &_more {
                font-size: 38px;
                left: 28%;
            }
            &_center {
                top: 8px;
            }
        }
        &__subheader {
            font-size: 28px;
        }
        &__lists {
            font-size: 20px;
        }
    } 
}

@media (min-width: 520px) {
    .container {
        width: 90%;
    }
    .promo {
        &__heading {
            font-size: 20px;
        }
        &__logo {
            img {
                width: 95px;
                height: 95px;
            }
        }
    }
    .basis {
        &__header {
            letter-spacing: 5px;
            font-size: 42px;
            &_more {
                font-size: 38px;
                letter-spacing: 3px;
                left: 26%;
            }
            &_center {
                top: 6px;
            }
        }
        &__subheader {
            font-size: 36px;
        }
        &__lists {
            font-size: 24px;
        }
    }
}

