.promo {   
    &__header {
        padding: 30px 0px 0 0px;
        display: grid;
        grid-template: repeat(2, auto) / 0.8fr 1fr;
        align-items: center;
    }
    &__logo {
        display: flex;
        justify-content: center;
        img {
            width: 80px;
            height: 80px;
        }
    }
    &__heading {
        display: flex;
        justify-content: flex-start;
        font-size: 12px;
        text-align: center;
    }   
    &__img-girl {
        margin-top: 5px;
        width: 100%;
    }
}