.promo {   
    &__header {
        padding: 30px 10px 0 0px;
        display: grid;
        grid-template: repeat(2, auto) / 0.5fr 1fr;
        align-items: center;
        column-gap: 15px;
    }
    &__logo {
        display: flex;
        justify-content: center;
        img {
            width: 75px;
            height: 75px;
        }
    }
    &__heading {
        display: flex;
        justify-self: center;
        font-size: 13px;
        font-weight: normal;
        text-align: center;
        margin: 0;
    }   
    &__img-girl {
        margin-top: 10px;
        width: 100%;
    }
}